@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
$font: "Open Sans", sans-serif;
* {
  margin: 0;
  padding: 0;
  font-family: $font;
  text-decoration: none;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  background-color: #ff86b5;
  color: white;
  font-weight: 600;
  padding-top: 10px;
  p {
    padding-bottom: 10px;
    margin-left: 70px;
    font-size: 1.4rem;
    font-weight: 500;

    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.food-card {
  width: 22rem !important;
  background-clip: padding-box;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.36);
  .img-top {
    margin-left: -12px !important;
    width: 107.4%;
    height: 15rem;
    border-radius: 10px 10px 0 0;
    opacity: 0.9;
  }
  .title {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
    color: #685b57;
  }
  .more-btn {
    margin-left: -12px !important;
    width: 107.4%;
    border-radius: 0 0 10px 10px;
    background-color: #8675a9;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    padding: 5px 5px;
    &:hover {
      background-color: #c3aed6;
      transition: 500ms;
      cursor: pointer;
      text-decoration: underline;
    }
    a {
      color: white !important;
      text-decoration: none;
    }
  }
}
